@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    background: linear-gradient(90deg, rgba(89,0,203,1) 10%, rgba(121,37,162,1) 100%);
    background-size: 100% auto;
    animation: animate 15s ease infinite;
}

@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.scrolling-touch {
    -webkit-overflow-scrolling: touch;
}