@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    background: linear-gradient(90deg, rgba(89,0,203,1) 10%, rgba(121,37,162,1) 100%);
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
}

.background {
    background-image: url("assets/circle.png"), url("assets/circle.png"), url("assets/circle.png"), url("assets/circle.png");
    background-repeat: no-repeat;
    background-position-x: -45rem, 55rem, -40rem, 55rem;
    background-position-y: -30%, 35%, 80%, 130%;
    background-size: 100%, 90%, 80%, 100%;
}

@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid white;
    margin: 30%;
}

.triangle:hover {
    border-right: 10px solid rgb(201, 212, 222);
}

.square {
    border: 1px solid white;
    width: 15px;
    height: 15px;
    margin: 30%;
}

.square:hover {
    border: 3px solid rgb(201, 212, 222);
}